<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://cdn-icons-png.flaticon.com/512/9928/9928820.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Ejercicios Clase 13</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    font-size: 18px;
  }

  *,
  *::before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  html {
    min-width: 100svh;
  }

  a,
  ul,
  li {
    list-style: none;
    text-decoration: none;
    color: inherit;
  }

  img {
    height: 150px;
  }
</style>
